<app-nav></app-nav>
<section class="header__band">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2>eBlog</h2>
			</div>
			<div class="col">
				<p>A Frontend developer Challenge Blog</p>
			</div>
		</div>
	</div>
</section>

<section class="parent__container">
	<div class="row">
		<div class="col-md-3 mt-5">
			<aside class="sidebar float-right text-center">
				<app-tags></app-tags>
				
			</aside>
		</div>
		<div class="col-md-9 order-lg-first">
			<section class="body">
				<div class="container">
					<div class="row mt-5">
						<!-- <div class="col-3"> -->
							<button (click)="personalFeeds()"  [class.active]="personalActive">Your Feeds</button>
						<!-- </div> -->
						<!-- <div class="col-3"> -->
							<button (click)="globalFeeds()" [class.active]="globalActive"> Global Feed</button>
						<!-- </div> -->
					</div>
						<hr>
					<!-- feeds here -->
					<span *ngIf="feeds=='personal'">
						
						<personal-feeds></personal-feeds>
					</span>
					<span  *ngIf="feeds=='global'">
						
					 <global-feeds></global-feeds>
					</span>
					<!-- feeds ends here -->
				
				</div>
			</section>
		</div>
		
	</div>
	
	
</section>
