section{
	background: #907cff;
	margin: auto 0px;
	height: 100%;
	width: 100%;
	padding-bottom: 40px;
}
.E404{
	font-size: 187px;
	font-weight: bold;
}
button{
	background: none;
	border: none;
	color: white;
	font-weight: bold;
	border-bottom: 2px solid white;
}