
.body{
	height: 95%;
}

.parent__container{
	margin: 0px 5%;
}
.header__band{
	background: #907cff;
	/*text-align: center;*/
	padding: 20px 0px;
	color: white;
}
h2{
	font-weight: bold;
}
.btn__delete{
	background: red;
	border:1px solid red;
	color: white;
	font-size: 15px;
	padding: 10px 20px 10px;
	/*font-weight: bold;*/
}
.btn__edit{
	background: #907cff;
	border:1px solid #907cff;
	color: white;
	font-size: 15px;
	padding: 10px 20px 10px;
	margin-right: 15px;
}
.btn__delete:active, .btn__delete:hover{
	border-bottom: 5px solid red;
	color: red;
	background: none;
}

.btn__edit:active, .btn__edit:hover{
	border-bottom: 5px solid #907cff;
	color: #907cff;
	background: none;
}


.col-md-6.dp__container{
	padding-right: 0px;
	width: 100%
}
img{
	width: 100%;
	cursor: pointer;
}
.username{
	/*font-weight: bold;*/
	font-size: 20px;
	color: white;
	cursor: pointer;
	margin: 20px auto auto 10px;
}
.date{
	color: #c6c6c6;
	font-size: 15px;
	margin: auto auto auto 10px;
}

.span__favorite{
	align-self: center;
	border: 1px solid white;
	border-radius: 10px;
	padding: 5px;
}

.span__favorite img{
	width: 25px;
	padding-right: 5px;
}
.article__body{
	
}

/*.read_more{
	font-size: 14px;
	color: grey;
}*/
.tag__span{
	align-self: center;
	border: 1px solid #907cff;
	border-radius: 10px;
	padding: 0px 5px 0px 5px;
	margin-right: 5px;
}
