<app-nav></app-nav>
<section>
	<div class="container">
		<div class="row justify-content-center">
			<div *ngIf="loading; then _loading else notLoading"></div>

			<ng-template #_loading> <span>Loading...</span></ng-template>

			<ng-template #notLoading>
				<div class="col-md-6 " >
					<div class="text-center">
						<h2>Your Settings</h2>
						
					</div>
					<form [formGroup]="settingsForm" (ngSubmit)="update(settingsForm.value)">
						<div class="form-group">
							<input type="text" class="form-control form-control-lg" formControlName="image" placeholder="Enter your image Url" value="{{oldDetails.image}}">
						</div>

						<div class="form-group">
							<input type="text" class="form-control  form-control-lg" formControlName="username" placeholder="User name" value="{{oldDetails.username}}" required>
						</div>

						<div class="form-group">
						   <textarea class="form-control" formControlName="bio" rows="3" placeholder="bio" value="{{oldDetails.bio}}"> </textarea>
						 </div>

						<div class="form-group form-group-lg">
							<input type="email" class="form-control form-control-lg" formControlName="email" placeholder="email" value="{{oldDetails.email}}" required>
						</div>
						<div class="form-group form-group-lg">
							<input type="password" class="form-control form-control-lg" formControlName="password" placeholder="New Password" required>
						</div>
				<br>
				<hr> 
				<br>
						<input type="submit" value="Log out" class="btn btn-primary float-left" (clcik)="logout()" >
						<input type="submit" value="Update Profile" class="btn btn-primary float-right">
					</form>
				</div>
			</ng-template>
			
				
		</div>
	</div> 
	<hr>

	
</section>