.content{
	height: 95%;
}
.parent__container{
	margin: 0px 5%;
}
.header__band{
	background: #907cff;
	text-align: center;
	padding: 62px 0px;
	color: white;
}
h2{
	font-weight: bold;
}
.follow{
	
	background: #503eb9;
	color: white;
	border:none;
	font-size: 15px;
	padding: 5px 5px 10px;
	font-weight: bold;
}

.follow:active, .follow:hover{
	background: none;
	font-weight: bold;
	border-bottom: 5px solid #907cff;
	color: #907cff;
}


.col-md-6.dp__container{
	padding-right: 0px;
	width: 100%
}
img{
	width: 100%;
}

.dp{
	max-width: 40px;
	margin: auto;
}
.username{
	font-weight: bold;
	font-size: 20px;
	color: white;
	margin: auto;
}
.date{
	color: gray;
	font-size: 10px;
	margin: auto auto auto 10px;
}

.span__favorite{
	align-self: center;
	border: 1px solid #907cff;
	border-radius: 10px;
}

.span__favorite img{
	width: 25px;
	padding-right: 5px;
}
.article__body{
	color: grey;
}

.read_more{
	font-size: 14px;
	color: grey;
	cursor: pointer;
}
.tag__span{
	align-self: center;
	border: 1px solid #907cff;
	border-radius: 10px;
	padding: 0px 5px 0px 5px;
	margin-right: 5px;
}
